

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  
}


.App {
  text-align: center;
  background-color: rgb(169, 190, 230);
}
.about{
  box-shadow: 10px 10px 10px 5px rgb(107, 105, 100);

}

.common-bg{
  background-color: #0b112c;
  ;
  
}

.text-color{
  color: #16536b;;
}

/* card style */
.card-style{
  width: 350px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: rgb(44, 42, 42);
  
}
.card-style:hover{
  float: left;
  -ms-transform: rotate(7deg); 
   -webkit-transform: rotate(7deg); 
   transform: rotate(7deg);
   transition:transform 1s ;
  
}
/* service style */
.images{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.bg-features{
background-color: white;
box-shadow: 10px 10px 10px 5px rgb(107, 105, 100);
border-radius: 20px;

}

  
/* login feild style */
input{
  border:none ;
  margin-right: 10px;
  border-bottom: 1px solid rgb(191, 219, 250);
  width: 300px;
  
}



